@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
    margin: 0;
    font-size: 25px;
    color: #EEF1FA;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

p {
    font-size: 20px;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.header {
    background-color: #f1f1f1;
    padding: 100px;
    text-align: center;
    background-image: url("https://www.insidehighered.com/sites/default/server_files/media/iStock-636447976.jpg");
    color: white;
    height: 300px;
    line-height: 1.8;
}

a, div, button {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.navbar {
    overflow: hidden;
    background-color: #0A2948;
    position: fixed;
    width: 100%;

    a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;

        .active {
            background-color: orange;
            color: white;
        }
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }
}

.bigtitle {
    background-color: #1C216B;
    font-size: 50px;
    padding: 40px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.article {
    background: rgb(91, 91, 255);
    padding: 30px;
}

.project {
    background: linear-gradient(to right, #1400FF 5%, rgba(75,63,216,0.5) 40%, rgba(255,255,255,0) 90%, #83A6D0 110%),#247EE9;
    font-size: 25px;
    padding: 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;
    height: 100vh;
    float: right;

    img {
        width: 40%;
    }
}

.project:nth-child(2n) {
    float: left;
}

.article2 {
    background: linear-gradient(90deg, #1400FF 5%, rgba(75,63,216,0.5) 40%, rgba(255,255,255,0) 90%, #83A6D0 110%),#247EE9;
    padding: 30px;
}

.lists {
    display: flex;
    padding: 20px;

    .list {
        padding: 10px;
        border: 5px solid white;
        margin: 0px 10px;

        ul {
            list-style-type: circle;
            line-height: 1.7;
        }
    }
}

.title {
    background-color: #231C3B;
    font-size: 30px;
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.link {
    width: 40%;
    padding: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.link:hover {
    background-color: #98A6DE;
    color: black;
}

td, th {
  padding: 20px;
}

thead {
  border: 1px solid white;
}

a {
    color: white;

    button {
        background-color: #0286C8;
        color: white;
        text-align: center;
        font-size: 40px;
        border-radius: 10px;
        padding: 20px;
        cursor: pointer;
        border: 1px solid #0286C8;
        font-family: 'Ubuntu', sans-serif;
    }

    button:hover {
        background-color: white;
        border: 1px solid white;
        color: #0286C8;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #074676;
    font-size: 20px;

    .contact {
        display: flex;
        text-align: center;

        a {
            margin: 10px;
            i {
                color: grey;
                font-size: 20px;
            }
        }

        a:hover {
            i {
                color: white;
            }
        }
    }
}